<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ basePath }}/Public/img/logo.png" type="image/png">
    <title>{{ title }}</title>

    <!-- Fontfaces CSS-->
    <link href="{{ basePath }}/Public/lib/CoolAdmin/css/font-face.css" rel="stylesheet" media="all">
    <link href="{{ basePath }}/Public/lib/CoolAdmin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="{{ basePath }}/Public/lib/CoolAdmin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="{{ basePath }}/Public/lib/CoolAdmin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{ basePath }}/Public/lib/CoolAdmin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{ basePath }}/Public/lib/CoolAdmin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="{{ basePath }}/Public/lib/CoolAdmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="{{ basePath }}/Public/lib/CoolAdmin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="{{ basePath }}/Public/lib/CoolAdmin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="{{ basePath }}/Public/lib/CoolAdmin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="{{ basePath }}/Public/lib/CoolAdmin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="{{ basePath }}/Public/lib/CoolAdmin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ basePath }}/Public/lib/CoolAdmin/css/theme.css" rel="stylesheet" media="all">

    <!-- custom css -->
	<link rel="stylesheet" href="{{ basePath }}/Public/css/style.css">
</head>
<body class="animsition">
<div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo logo-img" href="{{ basePath }}/admin">
                            <img src="{{ basePath }}/Public/img/logo.png" alt="logo" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a class="js-arrow" href="{{ basePath }}/admin">
                                <i class="fas fa-tachometer-alt"></i>Accueil</a>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-newspaper"></i>Articles</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Commentaires</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Accueil Site</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a class="logo-img" href="{{ basePath }}/admin">
                    <img src="{{ basePath }}/Public/img/logo.png" alt="logo" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active">
                            <a class="js-arrow" href="{{ basePath }}/admin">
                                <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li>
                            <a href="{{ basePath }}/admin/listNews">
                                <i class="fas fa-newspaper"></i>Articles</a>
                        </li>
                        <li>
                            <a href="{{ basePath }}/admin/listComments">
                                <i class="far fa-comments"></i>Commentaires</a>
                        </li>
                        <li>
                            <a href="{{ basePath }}/">
                                <i class="far fa-caret-square-right"></i>Accueil Site</a>
                        </li>
                        <li>
                            <a href="{{ basePath }}/logout">
                                <i class="zmdi zmdi-power"></i>Déconnexion</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="{{ basePath }}/Public/img/avatar.jpg" alt="avatar" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">john doe</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="{{ basePath }}/Public/img/avatar.jpg" alt="avatar" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">john doe</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Déconnexion</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        {% block content %}{% endblock %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/slick/slick.min.js">
    </script>
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/wow/wow.min.js"></script>
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/animsition/animsition.min.js"></script>
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="{{ basePath }}/Public/lib/CoolAdmin/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="{{ basePath }}/Public/lib/CoolAdmin/js/main.js"></script>
</body>
</html>